[submodule "wordpress_rails_sso/wordpress"]
	path = wordpress_rails_sso/wordpress
	url = https://github.com/vccw-team/vccw.git
[submodule "vagrant_sandbox"]
	path = vagrant_sandbox
	url = https://github.com/yukimura1227/vagrant_sandbox.git
